<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartmonkey.mapper.UserMapper">

    <select id="findAll" resultType="com.smartmonkey.model.User">
        SELECT * FROM user;
    </select>

    <select id="findById" resultType="com.smartmonkey.model.User">
        SELECT * FROM user WHERE id = #{id};
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password)
        VALUES (#{username}, #{password});
    </insert>

</mapper>